<body class="pt-4 lg:px-56 md:px-32 sm:px-16 px-4 text-white">
  <p class="text-common font-bold text-3xl">GET IN TOUCH</p>
  <p class="text-common pt-2">
    Trysail transom furl Sea Legs scallywag Jack Ketch chandler mizzenmast reef sails skysail. Shiver me timebers loot
    bucko belaying pin Sea Legs boom gunwalls booty jury most fore.
  </p>
  <div class="bg-card mt-14 p-6">
    <div class="text-lg text-common font-bold">Contact Form</div>
    <div class="lg:flex md:flex flew-wrap">
      <div class="lg:w-1/2 md:w-1/2 w-full lg:mr-4 md:mr-4 mr-0 pt-8">
        <label class="py-2 text-common">Name <span class="text-btn">*</span></label>
        <input type="text" class="bg-input p-2 mt-1 rounded-sm w-full" />
      </div>
      <div class="lg:w-1/2 md:w-1/2 w-full lg:ml-4 md:ml-4 ml-0 pt-8">
        <label class="py-2 text-common">Email&nbsp;Address <span class="text-btn">*</span></label>
        <input type="text" class="bg-input p-2 mt-1 rounded-sm w-full" />
      </div>
    </div>
    <div class="w-full pt-8">
      <label class="py-2 text-common">Message <span class="text-btn">*</span></label>
      <textarea type="text" rows="4" cols="50" class="resize-none bg-input p-2 mt-1 rounded-sm w-full"></textarea>
    </div>
    <div class="pt-2 flex justify-end">
      <button class="bg-btn px-5 py-1 lg:w-auto md:w-auto sm:w-auto w-full rounded-sm">Send</button>
    </div>
  </div>
</body>
