<header class="px-6 py-16">
  <ul class="lg:flex md:flex font-bold">
    <li class="lg:px-8 md:px-8 tracking-widest relative">
      <span class="absolute lg:bottom-2 lg:-left-2 md:bottom-2 md:-left-2 bottom-1 -left-7 text-input text-6xl z-0"
        >VIDEO</span
      >
      <span class="relative text-white text-3xl z-50">VIDEO&nbsp;GAMES</span>
    </li>
    <li class="lg:px-8 md:px-8 lg:pt-0 md:pt-0 pt-8 tracking-widest relative">
      <span class="absolute lg:bottom-2 lg:left-0 md:bottom-2 md:left-0 bottom-1 -left-7 text-input text-6xl z-0"
        >CONTACT</span
      >
      <span class="relative text-white text-3xl z-50">CONTACT</span>
    </li>
  </ul>
</header>
