<header class="px-6 py-16">
  <ul class="lg:flex md:flex font-bold">
    <li class="lg:px-8 md:px-8 tracking-widest relative video-games">
      <a (click)="clickEvent('video')" routerLink="/video-games" class="relative text-white text-3xl z-50 pointer"
        >VIDEO&nbsp;GAMES</a
      >
      <span
        class="absolute lg:bottom-2 lg:-left-2 md:bottom-2 md:-left-2 bottom-1 -left-7 text-input text-6xl z-0 {{
          flag1
        }}"
        >VIDEO</span
      >
    </li>
    <li class="lg:px-8 md:px-8 lg:pt-0 md:pt-0 pt-8 tracking-widest relative contact">
      <a (click)="clickEvent('contact')" routerLink="/contact" class="relative text-white text-3xl z-50 pointer"
        >CONTACT</a
      >
      <span
        class="absolute lg:bottom-2 lg:left-0 md:bottom-2 md:left-0 bottom-1 -left-7 text-input text-6xl z-0 {{
          flag2
        }}"
        >CONTACT</span
      >
    </li>
  </ul>
</header>
